.row {
    margin-left: 10px;
    color: #fff;
    scroll-behavior: smooth;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.title {
    font-size: 2rem;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: .5rem;
}

.smallPoster {
    max-height: 100px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: .5rem;
}

.poster:hover {
    transform: scale(.97);
}

.smallPoster:hover {
    transform: scale(.97);
}

.objTitle {
    position: relative;
    opacity: 50%;
}

@media(max-width:406px) {
    .row {
        margin-top: 9rem;
        margin-bottom: -7rem;
        margin-left: 5px;
    }

    .title {
        font-size: 18px;
    }
}